<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>卡不多商家详情页面</title>
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">

		<link rel="stylesheet" href="../../res/css/mui.min.css" />
		<link rel="stylesheet" href="../../res/css/iconfont.css" />
		<link rel="stylesheet" href="../../res/css/base.css" />
		<link rel="stylesheet" href="../../res/css/merchant/shopDetails.css" />
		<link rel="stylesheet" href="../../res/css/style.css" />
		<style type="text/css">
			body{
				background-color: #FCF9F9;
			}
		</style>
	</head>

	<body>
		<div id="app">
			<!-- top -->
			<header class="mui-bar mui-bar-nav">
				<h1 class="mui-title kbd-header">
					商家详情
				</h1>
				<a class="mui-action-back mui-icon iconfont icon-fanhui mui-pull-left"></a>
			</header>
			<!-- 菜单容器 -->
			<!--header end-->
			<div class="mui-content shopDetail" v-show="loaded" style="display: none;">
				<p class="shopTitle" v-cloak>
					<img :src="shop.logoPicPress"/>
					<i>{{shop.shopName}}<br/><em>{{shop.shopStartTime }}-{{shop.shopEndTime }}</em></i>
				</p>
				<p class="shopPhone" v-cloak><i>电话：</i><em>{{shop.shopMobile}}</em></p>
				<p class="shopAddr" v-cloak><i>地址：</i><em>{{shop.shopProvince }}{{shop.shopCity }}{{shop.shopArea }}{{shop.shopAddr }}</em></p>
				<p id="callPhone" class="callPhone" v-cloak><img id="telPhone" src="../../res/img/common/callphone.png"/></p>
			</div>
		</div>

		<script type="text/javascript" src="../../res/js/immersed.js" ></script>	
		<script type="text/javascript" src="../../res/js/vue/vue.dev.js"></script>
		<script type="text/javascript" src="../../res/js/mui.min.js"></script>
		<script type="text/javascript" src="../../res/app/tools.js"></script>
		<!-- 工具类 -->
		<script type="text/javascript" src="../../res/app/app.js"></script>
		<script type="text/javascript" src="shopDetails.js" ></script>
	</body>

</html>