<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>卡不多精选活动</title>
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		
		<link rel="stylesheet" href="../../res/css/mui.min.css" />
		<link rel="stylesheet" href="../../res/css/iconfont.css" />
		<link rel="stylesheet" href="../../res/css/base.css" />
		<link rel="stylesheet" href="../../res/css/msg/msg_sys.css" />
		<link rel="stylesheet" href="../../res/css/style.css" />
		
		
	</head>
	<body>
		<div id="app">
			<!-- top -->
			<header class="mui-bar mui-bar-nav">
				<h1 class="mui-title kbd-header">
					精选活动
				</h1>
				<a class="mui-action-back mui-icon iconfont icon-fanhui mui-pull-left"></a>
			</header>
			<!-- 菜单容器 -->
		  	<!--header end-->
		    <div class="mui-content">
		    	<div id="activity" class="activity" style="display: none;">
		    		<div class="activity_card" v-for="activity in listData" :jumpURL="activity.noticeUrl" :dataid="activity.id">
		    			<p class="noRead" v-show="activity.isRead=='0'"></p>
		    			<dl>
		    				<dt><img :src="activity.noticePic" /></dt>
		    				<dd><span>{{activity.createTime|cavDate}}</span><em v-show="activity.isActiv=='0'">进行中</em><i v-show="activity.isActiv=='1'">已结束</i></dd>
		    			</dl>
		    		</div>
		    	</div>
		    	<div id="emptyData" class="emptyData" style="display: none;">
					<img src="../../res/img/common/notice.png" />
					<span>目前暂无活动通知</span>
				</div>
				<div id="securityArea" class="securityArea" style="display:none;"></div>
			</div>
		</div>
		
		<script type="text/javascript" src="../../res/js/immersed.js" ></script>	
		<script type="text/javascript" src="../../res/js/vue/vue.dev.js"></script>
		<script type="text/javascript" src="../../res/js/mui.min.js"></script>
		<script type="text/javascript" src="../../res/app/tools.js"></script>
		<!-- 工具类 -->
		<script type="text/javascript" src="../../res/app/app.js"></script>
		<script type="text/javascript" src="msg_activity.js" ></script>
	</body>
</html>
