<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>卡不多提现说明</title>
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">

		<link rel="stylesheet" href="../../../res/css/mui.min.css" />
		<link rel="stylesheet" href="../../../res/css/iconfont.css" />
		<link rel="stylesheet" href="../../../res/css/app.css" />
		<link rel="stylesheet" href="../../../res/css/style.css" />
		<style type="text/css">
			.helpxq {
				background-color: #FFFFFF;
				padding: 16px 0;
			}
			
			.helpxq h2 {
				padding: 16px 16px;
				font-size: 15px;
				color: #4B4949;
			}
			
			.helpxq p {
				padding-left: 42px;
				padding-right: 42px;
				font-size: 13px;
				color: #000000;
				letter-spacing: 0;
				line-height: 21px;
			}
		</style>
	</head>

	<body>
		<div id="app">
			<!-- top -->
			<header class="mui-bar mui-bar-nav">
				<h1 class="mui-title kbd-header">
					提现说明
				</h1>
				<a class="mui-action-back mui-icon iconfont icon-fanhui mui-pull-left"></a>
			</header>
			<!-- 菜单容器 -->
			<!--header end-->
			<div class="mui-content user-memCard">
				<div class="helpxq">
					<h2>1、什么时候可以提现？</h2>
					<p>可随时申请提现，当日只能提现一次，提现额度需大于等于10元，当日提现金额不能超过5000元；</p>
					<h2>2、提现什么时候到账？</h2>
					<p>系统在收到用户发起的提现申请后，会对提现申请进行审核，审核通过后会短信通知用户，开始进入银行转账流程，预计1-3个工作日内到账，最快2小时到账；</p>
				</div>
			</div>
		</div>

		<script type="text/javascript" src="../../../res/js/immersed.js" ></script>		
		<script type="text/javascript" src="../../../res/js/vue/vue.dev.js"></script>
		<script type="text/javascript" src="../../../res/js/mui.min.js"></script>
		<script type="text/javascript" src="../../../res/app/tools.js"></script>
		<!-- 工具类 -->
		<script type="text/javascript" src="../../../res/app/app.js"></script>
	</body>

</html>