.mui-content,
body {
	background-color: #FFFFFF;
}

.wordLink{
	font-size: .25rem!important;
	margin-top: .1rem!important;
}

.mui-content>.mui-table-view:first-child {
	margin-top: 0rem;
}

.rightContent {
	margin-right: 0.4rem;
}

.rightContent img {
	height: 0.58rem;
	width: 0.58rem;
	border-radius: 50%;
	padding: 0px;
	position: absolute;
	top: 0.2rem;
	right: 0.65rem;
}

.mui-table-view-cell {
	padding: 0.2rem 0.3rem;
}

.mui-table-view-cell {
	font-family: PingFang-SC-Regular;
	font-size: 0.23rem;
	color: #4B4949;
	letter-spacing: 0.05rem;
	opacity: 0.85;
}

.mui-input-row span {
	font-family: PingFang-SC-Regular;
	font-size: 0.2rem;
	color: #ADADAD;
	letter-spacing: 0.05rem;
	display: block;
	width: 100%;
	text-align: right;
	padding-right: 8px;
}

input[type=color],
input[type=date],
input[type=datetime-local],
input[type=datetime],
input[type=email],
input[type=month],
input[type=number],
input[type=password],
input[type=search],
input[type=tel],
input[type=text],
input[type=time],
input[type=url],
input[type=week],
select,
textarea {
	background-color: #FFFFFF;
	font-family: PingFang-SC-Regular;
	font-size: 0.23rem;
	color: #4B4949;
	letter-spacing: 0.05rem;
	border: 0px;
}