<!DOCTYPE HTML>
<html>

	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
		<title>卡不多浏览器</title>
		<link rel="stylesheet" href="../../res/css/mui.min.css" />
		<link rel="stylesheet" href="../../res/css/iconfont.css" />
		<link rel="stylesheet" href="../../res/css/app.css" />
		<link rel="stylesheet" href="../../res/css/style.css" />
	</head>

	<body>
		<div id="app">
			<!--页面标题栏开始-->
			<header class="mui-bar mui-bar-nav">
				<a class="mui-action-back mui-icon iconfont icon-fanhui mui-pull-left"></a>
				<div class="mui-title">
					<span id="broswer-title">卡不多</span>
				</div>
			</header>
		</div>
	</body>

	<script type="text/javascript" src="../../res/js/immersed.js" ></script>
	<script type="text/javascript" src="../../res/js/vue/vue.dev.js" ></script>
	<script type="text/javascript" src="../../res/js/mui.min.js" ></script>
	<script type="text/javascript" src="../../res/app/app.js" ></script>
	<script type="text/javascript" src="../../res/app/tools.js" ></script>
	<script type="text/javascript" src="web.js" ></script>
</html>