<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>卡不多储值卡使用说明</title>
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">

		<link rel="stylesheet" href="../../../res/css/mui.min.css" />
		<link rel="stylesheet" href="../../../res/css/iconfont.css" />
		<link rel="stylesheet" href="../../../res/css/app.css" />
		<link rel="stylesheet" href="../../../res/css/style.css" />
		<style type="text/css">
			.helpxq {
				background-color: #FFFFFF;
			}
			.helpxq h2 {
				padding: 5px 16px;
				font-size: 15px;
				color: #4B4949;
			}
			.helpxq p {
				padding: 0px 15px;
				font-family: PingFang-SC-Regular;
				font-size: 14px;
				color: #4B4949;
				letter-spacing: 3px;
				line-height: 20px;
			}
		</style>
	</head>

	<body>
		<div id="app">
			<!-- top -->
			<header class="mui-bar mui-bar-nav">
				<h1 class="mui-title kbd-header">
					使用说明
				</h1>
				<a class="mui-action-back mui-icon iconfont icon-fanhui mui-pull-left"></a>
			</header>
			<!-- 菜单容器 -->
			<!--header end-->
			<div class="mui-content user-memCard">
				<div class="helpxq">
					<h2>结账付款操作流程：</h2>
					<p>购买储值卡，到店消费后，进入【我的-储值卡-买单】进行结账或APP扫描商家柜台摆放的二维码，即可进行结账付款；</p>
					<h2>储值卡共享功能：</h2>
					<p>可开启储值卡的共享功能，通过设置共享折扣与储值卡原本折扣的折扣差，可获取共享收益，同时也有助于储值卡金额快速花光；</p>
					<h2>开启共享功能流程：</h2>
					<p>开启共享功能流程为，进入【个人中心-储值卡列表-储值卡详情-共享折扣设定】，设定储值卡的共享折扣，点击“开启共享”按钮即可共享储值卡；</p>
				</div>
			</div>
		</div>
		<script type="text/javascript" src="../../../res/js/immersed.js" ></script>
		<script type="text/javascript" src="../../../res/js/vue/vue.dev.js"></script>
		<script type="text/javascript" src="../../../res/js/mui.min.js"></script>
		<script type="text/javascript" src="../../../res/app/tools.js"></script>
		<!-- 工具类 -->
		<script type="text/javascript" src="../../../res/app/app.js"></script>
	</body>

</html>