<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>卡不多商家卡列表</title>
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">

		<link rel="stylesheet" href="../../res/css/mui.min.css" />
		<link rel="stylesheet" href="../../res/css/iconfont.css" />
		<link rel="stylesheet" href="../../res/css/app.css" />
		<link rel="stylesheet" href="../../res/css/style.css" />
		<style>
			.header {
				display: inline;
				padding: 0px;
			}
			
			.mui-bar .mui-btn-link {
				font-size: 14px;
				line-height: 44px;
				top: 0;
				padding: 0;
				color: #4B4949;
				border: 0;
			}
		</style>
	</head>

	<body>
		<div id="app">
			<!-- top -->
			<header class="mui-bar mui-bar-nav">
				<h1 class="mui-title merchantCard">
					储值卡
				</h1>
				<a class="mui-action-back mui-icon iconfont icon-fanhui mui-pull-left"></a>
			</header>
			<!-- 菜单容器 -->
			<!--header end-->
			<div class="mui-content shop-merchantCard">
				<div class="emptyData">
					<img src="../../res/img/common/successRemind.png" />
					<span>暂无共享卡主，快来成为<br/>第一个共享卡主吧~</span>
					<button id="becomeCard">成为卡主</button>
					<i>成为卡主，享受更低折扣</i>
				</div>
			</div>
		</div>
		
		<script type="text/javascript" src="../../res/js/immersed.js" ></script>	
		<script type="text/javascript" src="../../res/js/vue/vue.dev.js"></script>
		<script type="text/javascript" src="../../res/js/vue/vue-tap.js"></script>
		<script type="text/javascript" src="../../res/js/mui.min.js"></script>
		<script type="text/javascript" src="../../res/app/tools.js"></script>
		<!-- 工具类 -->
		<script type="text/javascript" src="../../res/app/app.js"></script>
		<script type="text/javascript" src="noCard.js"></script>
	</body>

</html>