<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>卡不多主页面</title>
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		
		<link rel="stylesheet" href="../res/css/mui.min.css" />
		<link rel="stylesheet" href="../res/css/iconfont.css" />
		<link rel="stylesheet" href="../res/css/app.css" />
		<link rel="stylesheet" href="../res/css/style.css" />
		
		<style>

			html,
			body {
				background-color: #efeff4;
			}
			.iconfont{
				font-size:20px;
				color: black;
			}

			.kbd-header {
				font-family: "BY-Forvi-C3.00";
				font-size: 18px;
				color: #4B4949;
				letter-spacing: 0;
			}
		</style>
	</head>
	<body>
		<!-- top -->
		<script type="text/javascript" src="../res/js/mui.min.js" ></script>
		<script type="text/javascript" src="../res/js/immersed.js" ></script>
		<script type="text/javascript" src="../res/js/vue/vue.dev.js" ></script>
		<script type="text/javascript" src="../res/app/app.js" ></script>
		<script type="text/javascript" src="main.js" ></script>
	</body>
</html>
